<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Piglatin Result!</title>
  </head>
  <body>
    <h1>Pig Latin Result!</h1>
    <p><%= @piglatin_results %></p>
  
  </body>
</html>